			body {
				background-image: url("landscape.jpg");
				font-family: Verdana;
				background-size: cover;
			}

			.container {
				width: 900px;
				background-color: #fff;
				border: 10px solid #000;
				margin-left: auto;
				margin-right: auto;
				height: 700px;
				background-color: #ecce95;
			}

			.content {
				width: 860px;
				padding: 20px;
				background-color: #ecce95;
			}

			p {	
				line-height: 1.5em;
				font-size: 14pt;
			}
			
			img {
				float: left;
				margin-right: 20px;
				margin-bottom: 5px;
			}

			ul {
				list-style-type: none;
				margin: 0px;
				padding: 0px;
				overflow: hidden;
				background-color: #c05d5b;
			}
			
			li {
				float: left;
				width: 450px;
			}
			
			li a {
				display: block;
				color: white;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
				}
			
			li a:hover:not(.current) {
				background-color: #111;
				}
				.current {
					background-color: #4CAF50;
					}